@font-face {
  font-family: "iransans";
  src: url(../font/IRANSansX-light.woff);
}

.font-sans {
  font-family: "iransans", sans-serif;
}

@media (min-width: 1140px) {
  .xl\:ml-80 {
    margin-left: 20rem;
  }

  .xl\:mr-80 {
    margin-right: 20rem;
  }
}
